# Python
__pycache__/
*.pyc
.venv/
venv/

# Airflow / logs
logs/
airflow-*.log

# dbt
target/
dbt_packages/
.dbt/

# Secrets
profiles.yml
.env

# Data files
*.csv
*.xlsx
*.parquet
ingestion/airflow-olist/data/